// Based on the default file 'default-request-fields.snippet located in package 'org.springframework.restdocs.templates.asciidoctor in jar 'org.springframework.restdocs:spring-restdocs-core'.
|===
|Path|Type|Constraints|Description

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{constraints}}{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}
|===
